<h2 mat-dialog-title>Selecione uma loja para abrir caixa</h2>
<mat-dialog-content>
    <div class="order-client-form">
        <form [formGroup]='formulario'>
            <div class="form-group">
                <div class="select-container">
                    <select class="form-control" formControlName="order_id" id="order_id">
                        <option value="">Selecione a loja</option>
                    </select>
                    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="form-group">
                <div class="select-container">
                    <select class="form-control" formControlName="order_id" id="order_id">
                        <option value="">Selecione a unidade</option>
                    </select>
                    <mat-icon class="arrow-icon-unit">keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" formControlName="client_name" id="client_name"
                    placeholder="Troco" />
            </div>
        </form>
        <mat-card class="warning-card">
            <mat-card-content>
                <div class="card-title">
                    <mat-icon>warning</mat-icon>
                    <h3>AVISO</h3>
                </div>
                <div class="content">
                    <span>O caixa ainda não foi aberto, clique em OK para abrir.</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
    <button mat-button (click)="onCancelClick()">Cancelar</button>
    <button mat-button color="primary" (click)="onCreateClick()">OK</button>
</mat-dialog-actions>