<div class="home">
    <div class="title-home">

    </div>
    <div class="card-chart">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="bar-chart">
                    <mat-card-content><app-bar-chart></app-bar-chart></mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="doughnut-chart">
                    <mat-card-content><app-doughnut-chart></app-doughnut-chart></mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="doughnut-chart">
                    <mat-card-content>
                        <div class="title-card">
                            <span>Quantidade de reincidência</span>
                        </div>
                        <div class="content-card">
                            Teste
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>