<div class="home">
    <div class="title-home">

    </div>
    <div class="card-chart">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="bar-chart">
                    <mat-card-content><app-bar-chart></app-bar-chart></mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="doughnut-chart">
                    <mat-card-content><app-doughnut-chart></app-doughnut-chart></mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="doughnut-chart">
                    <mat-card-content>
                        <div class="title-card">
                            <span>Quantidade de reincidência</span>
                        </div>
                        <div class="content-card">
                            Teste
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <mat-card>
                <mat-card-content class="card-content-sales">
                    <div class="sales-quantity">
                        <mat-icon>assessment</mat-icon>
                        <span>6 Vendas</span>
                    </div>
                    <div class="sales-description">
                        <span>Quantidade de vendas realizadas</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <mat-card-content class="card-content-sold">
                    <div class="sold-amount">
                        <mat-icon>list_alt</mat-icon>
                        <span>R$ 230,54 Vendidos</span>
                    </div>
                    <div class="value-description">
                        <span>Valor total vendido</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <mat-card-content class="card-content-products">
                    <div class="sold-amount">
                        <mat-icon>inbox</mat-icon>
                        <span>52 Produtos</span>
                    </div>
                    <div class="value-description">
                        <span>Quantidade de produtos cadastrados</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>