.card-title {
    display: flex;
    justify-content: space-between;
    background-color: #22506C;
    font-family: 'Roboto';

    .cashier-title {
        color: #FFFFFF;
    }

    .cashier-title h3 {
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
    }
    
    .button-add {
        color: #FFFFFF;
        background-color: #FE8C00;
        margin-top: 8px;
    }
}

.mat-card-content {
    display: flex;
    justify-content: space-between;
}