<!-- <ejs-schedule  width='100%' height='850px' [currentView]="setView"></ejs-schedule> -->

<ejs-schedule width='100%' height='850px' [currentView]="setView" locale="pt" [eventSettings]="eventSettings">
</ejs-schedule>

<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escolha uma data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<!-- <full-calendar #fullcalendar [options]="calendarOptions" class="booking-calendar" (dateClick)="handleDateClick($event)"></full-calendar> -->

<!-- <full-calendar [options]='calendarOptions'>
    <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
    </ng-template>
</full-calendar> -->