<div class="sales-container">
    <div class="sales-title">
        <h2 style="font-weight: bold;">Escolha o que deseja fazer: </h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/dashboard/delivery">
                <mat-card class="redirection-card">
                    <mat-card-content>
                        <div class="delivery-content">
                            <img class="image-delivery" src="../../../../../assets/delivery.png" alt="Delivery Image">
                        </div>
                        <div class="delivery-description">
                            <span>Delivery</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/dashboard/table-service">
                <mat-card class="redirection-card">
                    <mat-card-content>
                        <div class="delivery-content">
                            <img class="image-delivery" src="../../../../../assets/mesa.png" alt="Delivery Image">
                        </div>
                        <div class="delivery-description">
                            <span>Mesas</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <mat-card class="redirection-card">
                    <mat-card-content>
                        <div class="delivery-content">
                            <img class="image-delivery" src="../../../../../assets/caixa.png" alt="Delivery Image">
                        </div>
                        <div class="delivery-description">
                            <span>Caixa</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <mat-card class="redirection-card">
                    <mat-card-content>
                        <div class="delivery-content">
                            <img class="image-delivery" src="../../../../../assets/pagamento.png" alt="Delivery Image">
                        </div>
                        <div class="delivery-description">
                            <span>Pedidos</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>