.sales-container {
    display: flex;
    flex-direction: row;
}

.order-list-container {
    flex: 0.7;
}

.order-details-container {
    flex: 0.67;
    margin-left: 17px;
}

.search-input {
    margin-left: -14px;
    padding: 0;
    width: 51.3%;
    max-width: 100%;
}