<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Novatec</span>
    <span class="example-spacer"></span>
    <button mat-button><mat-icon>settings</mat-icon></button>

    <button routerLink="autocomplete" mat-button><mat-icon>person</mat-icon></button>
    <button (click)="badgevisibility()"  mat-icon-button>
        <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="/dashboard/home" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/dashboard/user-upload" mat-button><mat-icon>explore</mat-icon>Upload de Dados</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/dashboard/patient" mat-button><mat-icon>table</mat-icon>Paciente</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="table" mat-button><mat-icon>table</mat-icon> Table</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content mat-elevation-z8" tabindex="0">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>