.content {
    height: calc(100vh - 20px);
    border-radius: 10px;
    margin: 6px;
    margin-left: 6px;
    padding: 6px;
    overflow: auto;
}

.example-spacer {
    flex: 1 1 auto;
  }

.toolbar {
    color: aliceblue;
    background-color: #FE8C00;
}

.drawer {
    color: white;
    background-color: #C8C8C8;
}