<div class="table-service-container">
    <div class="table-service-title">
        <h2>Mesas</h2>
    </div>
    <div class="table-service-cards">
        <div class="row">
            <div class="col-md-1 table-list" *ngFor="let table of tableInterface">
                <mat-card>
                    <mat-card-content>
                        <button mat-button>
                            {{table.name}}
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>