a {
    text-decoration: none;
    color: black;
}

.table-list {
    margin-top: 20px;
}

.table-list-content {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table-service-cards {
    padding: 10px;
}

.table-button {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.table-service-header {
    display: flex;
    justify-content: space-between;
}

.reservation-date {
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
}

.icon-container {
    margin-left: 20px;
}