<div class="patient-content">
    <div class="patient-title">
        <h3>Tabela de Pacientes</h3>
    </div>
    <div class="patient-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cpf">
              <th mat-header-cell *matHeaderCellDef> CPF </th>
              <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>
          
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef> Cidade </th>
              <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
          
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
      <div class="patient-paginator">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>